*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.25rem;
    font-style: sans serif;
    font-weight: 500;
    color: rgb(102, 102, 102);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 100%;
    height: 10rem;
    box-shadow: 0 1rem 1rem 0 rgb(0, 0, 0, 0.2),
    inset 0 -1rem 1rem -1rem rgb(0, 0, 0, 0.1);
}

.Top-Nav{
    width: 69%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10rem;
    font-size: 1.25rem;
}

.icons{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 17rem;
}



.icons > img{
    width: 100%;
    height: 100%;
}

.logo-header{
    width: 12%;
    height: 100%;
}

.highlight1{
    color: rgb(230, 30, 20);
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nieuws-article{
    width: 68%;
    height: 200rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin-top: 4rem;
}

.highlight-article1{
    grid-column: 1 / 5;
    grid-row: 1 / 4;
    padding-right: 3rem;
    color: white;
    font-size: 1.25rem;
}

.highlight-article2{
    grid-column: 5 / 9;
    grid-row: 1 / 4;
    padding-left: 3rem;
    color: white;
    font-size: 1.25rem;
}

.highlight-article1 > img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.highlight-article2 > img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.highlight-article2 > h2{
    position: absolute;
    left: 1004px;
    bottom: 375px;
}

.highlight-article1 > h2{
    position: absolute;
    left: 312px;
    bottom: 375px;
}

.nieuwsbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.6rem;
    margin-top: 1.25rem;
    margin-right: 1.25rem;
}

.nieuwsbox > h2{
    color: black;
}

.box1{
    grid-column: 1 /3 ;
    grid-row: 4 / 7;
}

.box2{
    grid-column: 3 /5 ;
    grid-row: 4 / 7;
}

.box3{
    grid-column: 5 /7 ;
    grid-row: 4 / 7;
}

.box4{
    grid-column: 1 /3 ;
    grid-row: 7 / 10;
}

.box5{
    grid-column: 3 /5 ;
    grid-row: 7 / 10;
}

.box6{
    grid-column: 5 /7 ;
    grid-row: 7 / 10;
}

.box7{
    grid-column: 1 / 3;
    grid-row: 10 / 13;
}

.box8{
    grid-column: 3 / 5;
    grid-row: 10 / 13;
}

.box9{
    grid-column: 5 / 7;
    grid-row: 10 / 13;
}

.live-box{
    background: red;
    grid-column: 7 /10 ;
    grid-row: 4 / 5;
    margin: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}