*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.25rem;
    font-style: sans serif;
    font-weight: 500;
    color: rgb(102, 102, 102);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 100%;
    height: 10rem;
    box-shadow: 0 1rem 1rem 0 rgb(0, 0, 0, 0.2),
    inset 0 -1rem 1rem -1rem rgb(0, 0, 0, 0.1);
}

.Top-Nav{
    width: 69%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10rem;
    font-size: 1.25rem;
}

.icons{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 17rem;
}



.icons > img{
    width: 100%;
    height: 100%;
}

.logo-header{
    width: 12%;
    height: 100%;
}

.highlight1{
    color: rgb(230, 30, 20);
}


main{


}

